site_name: martinduerrmeier.com
site_description: Personal website of Martin Dürrmeier
site_url: https://martinduerrmeier.com
repo_url: https://github.com/md42/martinduerrmeier.com
repo_name: md42/martinduerrmeier.com

theme:
  name: material
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: indigo
      accent: deep orange

  features:
    - navigation.footer

copyright: © 2024 Martin Dürrmeier. All Rights Reserved.    
  
nav:
  - Home: index.md
  - Blog: blog/index.md
  - Talks: talks.md
  - CV: cv.md
  - Tags: tags.md
  - Legal Notice / Impressum: imprint.md
  - Privacy Policy / Datenschutzerklärung: privacy-policy.md

plugins:
  - search
  - blog
  - tags:
      tags_file: tags.md
  - rss:
      match_path: "blog/posts/.*"
      date_from_meta:
        as_creation: date.created
        as_update: date.updated

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - footnotes
  
extra:
  social:
    - icon: simple/mastodon
      link: https://hachyderm.io/@md42
    - icon: simple/github
      link: https://github.com/md42
    - icon: simple/linkedin
      link: https://www.linkedin.com/in/martinduerrmeier/

  generator: false #https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/?h=footer#generator-notice
  